@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Press+Start+2P&display=swap');

:root {
    --bg-color: #0F0F0F; 
    --purple: #4A33CF; 
    --yellow: #FFDD00;
    --magenta: #D900FF;
    --gridcolor: rgba(0, 0, 146, 0.62); 
    --marginphone: 60px;
}

body {
    background-color: var(--bg-color);
    background-size: 30px 30px;
    background-image:
        linear-gradient(to right, rgba(128, 128, 128, 0.178) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(128, 128, 128, 0.178) 1px, transparent 1px);
    margin: var(--marginphone);
}

.wave {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
    
.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
}

.top {
    top: 0;
}

.bottom {
    transform: rotate(180deg);
    bottom: 0;
}
    
h1 {
    font-family: "Press Start 2P", serif;
    color: white;
    font-size: 20px;
    text-align: center;
}

h2 {
    font-family: "Play", serif;
    color: var(--magenta);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.grid-item{
    background-color: var(--gridcolor);
    height: 120px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bounce 2s infinite ease-in-out;
}

.character{
    max-width: 100%;
    max-height: 100%;
    height: 89px;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.character:hover{
    opacity: 100%;
}

.grid-item.hovered {
    animation: none;
}

.gridbutton{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
