@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Press+Start+2P&display=swap');

:root {
    --bg-color: #0F0F0F; 
    --purple: #4A33CF; 
    --yellow: #FFDD00;
    --magenta: #D900FF;
    --grey: #414141; 
    --gridcolor: rgba(0, 0, 146, 0.62); 
    --marginphone: 60px;
}

body {
    background-color: var(--bg-color);
    background-size: 30px 30px;
    background-image:
        linear-gradient(to right, rgba(128, 128, 128, 0.178) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(128, 128, 128, 0.178) 1px, transparent 1px);
    margin: var(--marginphone);
}

.wave {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
    
.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
}

.top {
    top: 0;
}

.bottom {
    position: fixed;
    transform: rotate(180deg);
    bottom: 0;
}
    
h1 {
    font-family: "Press Start 2P", serif;
    color: white;
    font-size: 20px;
    text-align: center;
}

h2 {
    font-family: "Press Start 2P", serif;
    color: white;
    font-size: 14px;
    text-align: center;
}

h3 {
    font-family: "Press Start 2P", serif;
    color: white;
    font-size: 8px;
    letter-spacing: 2px;
}

h4 {
    font-family: "Play", serif;
    color: var(--magenta);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

p {
    font-family: "Play", serif;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* css grid */

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.grid-item{
    background-color: var(--gridcolor);
    height: 120px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bounce 2s infinite ease-in-out;
}

.character{
    max-width: 100%;
    max-height: 100%;
    height: 89px;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.character:hover{
    opacity: 100%;
}

.grid-item.hovered {
    animation: none;
}

.gridbutton{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* modal */

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: var(--grey);
    border-radius: 10px;
    border: solid 2px black;
    width: 90%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.modal-content p {
    padding: 10px;
}

.modal-header {
    background-color: var(--purple);
    width: 100%;
    border-bottom: solid 2px black;
    border-radius: 10px 10px 0 0;
    text-align: right;
    padding: 2px 12px 2px 12px;
    box-sizing: border-box;
}

.close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 800;
    cursor: pointer;
    color: var(--yellow);
}

